.logoPart {
  width: 100px;
  height: 30px;
  margin-left: 25px;
}

.logoImg {
  width: 100%;
}

.navLinkPart {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}
.navLink {
  display: flex;
  border-radius: 5px;
  height: 30px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  &:hover {
    background-color: #ededed;
  }
}

.navName {
  font-weight: 500;
}
.profileImg {
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
.belowPart {
  margin-top: 20px;
}
