.rightSideHome {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 100%;
}

.topProfileRightSide {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.imageDivRightSide {
  width: 45px;
  height: 45px;
}

.imageRightSideProfile {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.userNameBlock {
  display: flex;
  flex-direction: column;
}
.userName {
  font-size: 14px;
  font-weight: 500;
}
.fullName {
  color: #999999;
  font-size: 14px;
}

.switchBtn {
  color: #0095f6;
  font-weight: 500;
  font-size: 12px;
}

.leftRightProfile {
  display: flex;
  gap: 20px;
}
.bottomRightSide {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 30px;
}
.suggestedBlock {
  display: flex;
  justify-content: space-between;
  color: #999999;
  font-size: 14px;
  font-weight: 500;
}
.followBlockRightSide {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}
.topProfileRightBottomProfile {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
